.hero-wrapper-background {
  background-image: linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
}

.border-line {
  border: 1px solid #d8e3fe;
}

.hero-wrapper {
  height: 570px;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("../../../images/clouds_hero.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-title {
  margin-top: 92px;
  color: $hero-titleLogo-color;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hero-logo {
  margin-top: 16px;
  color: $hero-titleLogo-color;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
}

.nested-text {
  display: inline-block;
  font-family: "QuicksandBold";
}

.hero-description {
  max-width: 512px;
  margin-top: 28px;
  color: $hero-description-color;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
}

.picture-playing {
  margin: 0;
  display: block;
  width: 52px;
  height: 52px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.elem-play_button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper-block-pointer_hero {
  width: 92px;
  height: 70px;
  position: absolute;
  top: 405px;
  left: 62px;
}

.logo-pointer_hero {
  position: absolute;
}

.pointer_hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper-chart_hero {
  position: absolute;
  top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
}

.slider_hero {
  position: absolute;
  top: 100%;
  transform: translate(-50%, -300%);
}

.slider-indicators {
  width: 48px;
  height: 8px;
  display: block;
}
