.plan_manage {
  .plan_manage-content {
    height: 776px;
    padding-top: 170px;
    display: flex;
    background-color: #f5f8ff;

    .content-text {
      max-width: 414px;
      margin: 0 55px 0 271px;

      .plan_manage-title {
        margin-top: 38px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: bolder;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3d4f9f;
      }

      .plan_manage-logo {
        margin-top: 27px;
        font-family: "Quicksand";
        font-style: normal;
        font-weight: bolder;
        font-size: 36px;
        line-height: 45px;
        color: #3d4f9f;

        .nested-text-bold {
          font-family: "QuicksandBold";
        }
      }

      .plan_manage-description {
        margin-top: 27px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #8d96bd;
      }

      .wrapper-button-video {
        margin-top: 47px;
        display: flex;
        position: relative;

        .btn-primary {
          display: inline-block;
          padding: 13px 37px 13px 25px;
          border-radius: 2px;
          background-color: #4c85ff;
          font-family: "QuicksandBold";
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 16px;
          align-items: center;
          color: #ffffff;
          cursor: pointer;
        }

        .pointer-video-icon {
          width: 6.5px;
          height: 7.2px;
          margin-left: 102px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .btn-secondary {
          display: inline-block;
          padding: 13px 37px 13px 25px;
          border-radius: 2px;
          border: 1px solid #d1d1e4;
          font-family: "Quicksand";
          font-style: normal;
          font-weight: bolder;
          font-size: 13px;
          line-height: 16px;
          align-items: center;
          color: #adb4d2;
          cursor: pointer;
        }
      }
    }
    .wrapper-illustration {
      max-width: 652px;
    }
  }
}
