@import "./fonts";
@import "./reset";
@import "./variables";
@import "./extends";
@import "./mixins";
@import "./animations";

.container {
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 15px;
  
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.m-0 {
  margin: 0;
}
