@font-face {
  font-family: "Roboto";
  src: url("../../styles/imports/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../styles/imports/QuicksandBold-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../styles/imports/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
