$headerFirstItemMenu-color: #5e81fe;
$headerItemsMenu-color: #697ca6;
$socialIcon-color: #b6bac7;
$socialIconTwitter-color: #6188ff;
$status-color: #5e81fe;
$header-content-width: 1208px;
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
