@font-face {
  font-family: "Roboto";
  src: url("../../styles/imports/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../styles/imports/QuicksandBold-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../styles/imports/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../styles/imports/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../styles/imports/QuicksandBold-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../styles/imports/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1415px;
  padding: 0 12.5px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.m-0 {
  margin: 0;
}

header {
  padding: 18px 117px;
  display: flex;
}
header .header-content {
  max-width: 1208px;
  margin: 0;
  display: flex;
  align-items: center;
}
header .status-logo {
  display: block;
  margin: 0 73px 0 0;
}
header menu {
  margin: 0 360px 0 0;
  padding: 0;
  display: flex;
  list-style: none;
}
header menu li:not(:last-child) {
  margin-right: 46px;
}
header menu a {
  color: #697ca6;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
header menu .item-link {
  color: #5e81fe;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
header .list-social-icons {
  margin-right: 44px;
  display: flex;
  align-items: center;
  font-size: 0;
}
header .list-social-icons li:not(:last-child) {
  margin-right: 36px;
}
header .list-social-icons a {
  color: #b6bac7;
  font-size: 12px;
}
header .list-social-icons .social-icon__twitter {
  color: #6188ff;
}
header .list-social-icons li {
  display: flex;
  align-items: center;
}
header .list-social-icons .telegram-img {
  display: block;
  max-width: none;
}
header .list-social-icons .media-img {
  display: block;
  max-width: none;
  height: 13px;
}
header .header-btn {
  display: inline-block;
  padding: 13px 19px;
  border: none;
  border-radius: 2px;
  color: #3a79ff;
  background-color: #d2e1ff;
  font-family: "Quicksand";
  font-size: 13px;
  line-height: 16.25px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
