@font-face {
  font-family: "Roboto";
  src: url("../../styles/imports/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../styles/imports/QuicksandLight-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuicksandBold";
  src: url("../../styles/imports/QuicksandBold-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../styles/imports/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../styles/imports/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../styles/imports/QuicksandLight-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuicksandBold";
  src: url("../../styles/imports/QuicksandBold-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../styles/imports/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.m-0 {
  margin: 0;
}

header .wrapper-header-content {
  margin: 0;
  padding: 18px 117px;
  display: flex;
}
header .wrapper-header-content .header-content {
  max-width: 1206px;
  margin: 0;
  display: flex;
  align-items: center;
}
header .wrapper-header-content .header-content .status-logo {
  display: block;
  margin: 0 73px 0 0;
  border-radius: 50%;
}
header .wrapper-header-content .header-content menu {
  margin: 0 360px 0 0;
  padding: 0;
  display: flex;
  list-style: none;
}
header .wrapper-header-content .header-content menu li:not(:last-child) {
  margin-right: 40px;
}
header .wrapper-header-content .header-content menu a {
  display: block;
  color: #697ca6;
  font-family: "QuicksandBold";
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
header .wrapper-header-content .header-content menu .item-link {
  color: #5e81fe;
  font-family: "QuicksandBold";
}
header .wrapper-header-content .header-content .list-social-icons {
  margin-right: 44px;
  display: flex;
  align-items: center;
  font-size: 0;
}
header .wrapper-header-content .header-content .list-social-icons li:not(:last-child) {
  margin-right: 36px;
}
header .wrapper-header-content .header-content .list-social-icons a {
  display: block;
  color: #b6bac7;
  font-size: 12px;
}
header .wrapper-header-content .header-content .list-social-icons .social-icon__twitter {
  color: #6188ff;
}
header .wrapper-header-content .header-content .list-social-icons li {
  display: flex;
  align-items: center;
}
header .wrapper-header-content .header-content .list-social-icons .telegram-img {
  display: block;
  max-width: none;
}
header .wrapper-header-content .header-content .list-social-icons .media-img {
  display: block;
  max-width: none;
  height: 13px;
}
header .wrapper-header-content .header-content .header-btn {
  display: block;
  padding: 13px 19px;
  border-radius: 2px;
  color: #3a79ff;
  background-color: #d2e1ff;
  font-family: "QuicksandBold";
  font-size: 13px;
  line-height: 16.25px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.hero-wrapper-background {
  background-image: linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
}

.border-line {
  border: 1px solid #d8e3fe;
}

.hero-wrapper {
  height: 570px;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("../../../images/clouds_hero.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-title {
  margin-top: 92px;
  color: #3d4f9f;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hero-logo {
  margin-top: 16px;
  color: #3d4f9f;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
}

.nested-text {
  display: inline-block;
  font-family: "QuicksandBold";
}

.hero-description {
  max-width: 512px;
  margin-top: 28px;
  color: #8D96BD;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
}

.picture-playing {
  margin: 0;
  display: block;
  width: 52px;
  height: 52px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.elem-play_button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper-block-pointer_hero {
  width: 92px;
  height: 70px;
  position: absolute;
  top: 405px;
  left: 62px;
}

.logo-pointer_hero {
  position: absolute;
}

.pointer_hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper-chart_hero {
  position: absolute;
  top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
}

.slider_hero {
  position: absolute;
  top: 100%;
  transform: translate(-50%, -300%);
}

.slider-indicators {
  width: 48px;
  height: 8px;
  display: block;
}

.customers .wrapper-content-customers .border-line {
  border: 1px solid #d8e3fe;
}
.customers .wrapper-content-customers .content-customers {
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers .wrapper-content-customers .customer-name {
  width: 116px;
  height: 29px;
  margin-right: 76px;
  color: #d6dae5;
}
.customers .wrapper-content-customers .customer-name__another-color {
  color: #5982E7;
}

.plan_manage .plan_manage-content {
  height: 776px;
  padding-top: 170px;
  display: flex;
  background-color: #f5f8ff;
}
.plan_manage .plan_manage-content .content-text {
  max-width: 414px;
  margin: 0 55px 0 271px;
}
.plan_manage .plan_manage-content .content-text .plan_manage-title {
  margin-top: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}
.plan_manage .plan_manage-content .content-text .plan_manage-logo {
  margin-top: 27px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}
.plan_manage .plan_manage-content .content-text .plan_manage-logo .nested-text-bold {
  font-family: "QuicksandBold";
}
.plan_manage .plan_manage-content .content-text .plan_manage-description {
  margin-top: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}
.plan_manage .plan_manage-content .content-text .wrapper-button-video {
  margin-top: 47px;
  display: flex;
  position: relative;
}
.plan_manage .plan_manage-content .content-text .wrapper-button-video .btn-primary {
  display: inline-block;
  padding: 13px 37px 13px 25px;
  border-radius: 2px;
  background-color: #4c85ff;
  font-family: "QuicksandBold";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.plan_manage .plan_manage-content .content-text .wrapper-button-video .pointer-video-icon {
  width: 6.5px;
  height: 7.2px;
  margin-left: 102px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plan_manage .plan_manage-content .content-text .wrapper-button-video .btn-secondary {
  display: inline-block;
  padding: 13px 37px 13px 25px;
  border-radius: 2px;
  border: 1px solid #d1d1e4;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #adb4d2;
  cursor: pointer;
}
.plan_manage .plan_manage-content .wrapper-illustration {
  max-width: 652px;
}

.features .about-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .about-app .about-us .title {
  margin-top: 171px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3d4f9f;
}
.features .about-app .about-us .logo {
  margin-top: 20px;
  font-family: "QuicksandBold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
}
.features .about-app .features-content {
  max-width: 761px;
  margin-top: 92px;
}
.features .about-app .features-content .features-list {
  display: flex;
}
.features .about-app .features-content .features-list .features-item {
  display: flex;
}
.features .about-app .features-content .features-list .features-item .features-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .about-app .features-content .features-list .features-item .features-item-content .features-icon {
  border-radius: 50%;
}
.features .about-app .features-content .features-list .features-item .features-item-content .description {
  max-width: 140px;
  text-align: center;
}
.features .about-app .features-content .features-list .features-item .line-hyphen-list {
  margin-left: 20px;
}
.features .about-app .features-content .features-item:not(:last-child) {
  margin: 0 67px 0 0;
}
.features .about-app .features-buttons {
  display: flex;
  align-items: center;
}
.features .about-app .features-buttons .btn_first {
  display: block;
  padding: 13px 19px;
  border-radius: 2px;
  color: #3a79ff;
  background-color: #d2e1ff;
  font-family: "QuicksandBold";
  font-size: 13px;
  line-height: 16.25px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
.features .about-app .features-buttons .btn_second {
  display: block;
  padding: 13px 19px;
  border-radius: 2px;
  color: #3a79ff;
  background-color: #d2e1ff;
  font-family: "QuicksandBold";
  font-size: 13px;
  line-height: 16.25px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
